/* icon */
@font-face {
  font-family: 'Icon';
  src: url(material.woff2) format('woff2');
}

.icon {
  font-family: 'Icon';
}



/* colors */
:root {
    --critical: #b91b3d;
    --warning: #de5a00;
    --over-alerts: white;

    --critical-card: #ffc5d3;
    --over-critical-card: #451725;
    --warning-card: #ffd9b3;
    --over-warning-card: #603010;
}

:root {
    --focus: #1349b5;
    --over-focus: white;

    --focus-card: #a4c5fa;
    --over-focus-card: #000066;

    --base: #eceff4;
    --base-low: #e3e7ef;
    --base-lower: #d4dbe6;

    --over-base: #17181d;
    --over-base-low: #585a6c;

    --border: #8f98ab;
    --border-low: #c0c5d2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --focus: #a4c5fa;
        --over-focus: #000066;

        --focus-card: #1a2a64;
        --over-focus-card: #a4c5fa;

        --base: black;
        --base-low: #161721;
        --base-lower: #1f212e;

        --over-base: #eceff4;
        --over-base-low: #aab8ce;

        --border: #4e576e;
        --border-low: #313449;
    }
}



/* text */
@font-face {
    font-family: Metropolitano;
    src: url(metropolitano.vf.ttf);
}

h1, h2, h3, h4, h5, h6, p, a, label {
    color: var(--over-base);
    font-family: Metropolitano, sans-serif;
    text-decoration: none;
    gap: 7.5px;
}

.small {
    font-size: 80%;
}

.over-base-low {
    color: var(--over-base-low);
}



/* base */
.base-low, .base-lower {
    padding: 30px;
}

.base {
    background-color: var(--base);
}

.base-low {
    background-color: var(--base-low);
}

.base-lower {
    background-color: var(--base-lower);
}

.inner {
    border-radius: 15px;
}



/* grid */
.vertical {
    grid-auto-flow: row;
}

.half-gap {
    gap: 10px;
}



/* chip */
.chip {
    padding: 7.5px 10px;
    border-radius: 7.5px;
    border: 2px solid var(--border-low);
}



/* alignment */
.center {
    justify-content: center;
}

.right {
    justify-items: end;
}



/* card */
.focus-card {
    background-color: var(--focus-card);
    color: var(--over-focus-card);
    border: none;
}



/* section */
header, footer {
    padding: 50px 0px;
}

header {
    border-radius: 0 0 40px 40px;
    background-color: var(--base-low);
}

footer {
    border-radius: 40px 40px 0 0;
    background-color: var(--base-lower);
}



/* button */
a {
    color: var(--focus);
}



/* core */
html {
    max-width: 100%;
    justify-content: center;
    grid-auto-flow: row;
}

head {
    display: none;
}

* {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    max-width: 50rem;
    border-radius: 30px;
}



/* responsive */
@media (max-width: 650px) {
    *:not(.fixed, button, h1, h2, h3, h4, h5, h6, p, a, label) {
        grid-auto-flow: row;
    }

    #header {
        justify-items: center;
    }
}

@media (max-width: 55rem) {
    * {
        max-width: 90vw;
    }
}



/* extra */
.pfp {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.project-banner {
    width: 100%;
    min-width: 150px;
    max-width: 350px;
}