/* colors */
:root {
    --focus: #0f6cbd;
    --over-focus: #115ea3;
    --active-focus: #0c3b5e;
    --on-focus: white;
    
    --bg: url(bg-light.svg);
    --blur-amount: 100px;
    --contrast-amount: 100%;
    --brightness-amount: 100%;
    --saturation-amount: 500%;
    --border: #61616133;
    --base: #ffffffaa;
    --base-opaque: #ffffff;
    --on-base: #242424;
    --on-base-low: #737373;
    --over-secondary: #f5f5f5;
    --activate-secondary: #e0e0e0;
    --wide: #ffffff22;
    --over-wide: #ffffff55;
    --active-wide: #00000022;
    --border-low: #e0e0e0;
    --border-medium: #d1d1d1;
    --border-high: #616161;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: url(bg-dark.svg);
        --blur-amount: 100px;
        --contrast-amount: 300%;
        --brightness-amount: 150%;
        --saturation-amount: 150%;
        --border: #00000033;
        --base: #292929aa;
        --base-opaque: #292929;
        --on-base: #ffffff;
        --on-base-low: #adadad;
        --over-secondary: #3d3d3d;
        --activate-secondary: #1f1f1f;
        --wide: #29292977;
        --over-wide: #292929cc;
        --active-wide: #00000022;
        --border-low: #525252;
        --border-medium: #666666;
        --border-high: #adadad;
    }
}



/* main layouts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--base-opaque) var(--bg) center / cover no-repeat fixed;
    padding-top: 30px;
    justify-items: center;
}

body>* {
    max-width: calc(100vw - 50px);
    width: 800px;
}

.flex {
    display: flex;
}

.polar {
    justify-content: space-between;
}

.left {
    text-align: left;
    justify-items: left;
}

.right {
    text-align: right;
    justify-items: right;
}

.xcenter {
    text-align: center;
    justify-content: center;
}

.ycenter {
    align-content: center;
}

.items-row>*:not(:last-child, .skip) {
    margin-right: 10px;
}

.items-column>*:not(:last-child, .skip) {
    margin-bottom: 10px;
}

.items-row>*.half:not(:last-child, .skip) {
    margin-right: 5px;
}

.items-column>*.half:not(:last-child, .skip) {
    margin-bottom: 5px;
}

.items-row>*.double:not(:last-child, .skip) {
    margin-right: 20px;
}

.items-column>*.double:not(:last-child, .skip) {
    margin-bottom: 20px;
}



/* icons and fonts */
@font-face {
    font-family: 'Icon';
    src: url(material.woff2) format('woff2');
    font-display: block;
}

@font-face {
    font-family: Metropolitano;
    src: url(metropolitano.vf.ttf);
}

.icon {
    font-family: 'Icon';
    user-select: none;
    align-items: center;
    vertical-align: text-bottom;
    color: var(--on-base);
}

.icon:not(.no-margin) {
    margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
    color: var(--on-base);
    font-family: Metropolitano, sans-serif;
    text-decoration: none;
}

.small {
    font-size: 80%;
}

.subtext {
    color: var(--on-base-low);
}



/* elements */
.card {
    background-color: var(--base);
    box-shadow: 0 0 10px #00000046,
        0 8px 15px #00000046,
        0 20px 25px #00000046;
    backdrop-filter: blur(var(--blur-amount)) contrast(var(--contrast-amount)) brightness(var(--brightness-amount)) saturate(var(--saturation-amount));
    padding: 25px;
    margin-bottom: 30px;
}

.inner-card {
    background-color: var(--base-opaque);
    border-radius: 7.5px;
    box-shadow: 0 0 10px #00000046,
        0 8px 15px #00000046;
    padding: 25px;
}

.card,
.inner-card {
    outline: 2px solid var(--border);
}

.mini-card {
    padding: 5px 10px;
    outline: 1.5px solid var(--border-medium);
    border-radius: 4px;
}

.button,
.button.secondary,
.button.wide {
    display: block;
    width: fit-content;
    transition: 200ms;
}

.button:not(.wide),
.button.secondary:not(.wide) {
    text-align: center;
    width: 150px;
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px #00000046,
        0 8px 15px #00000046;
}

.button {
    background-color: var(--focus);
}

.button:not(.secondary, .wide), .button:not(.secondary, .wide) > span {
    color: var(--on-focus);
}

.button:hover {
    background-color: var(--over-focus);
}

.button:focus:active {
    background-color: var(--active-focus);
}

.button.secondary {
    background-color: var(--base);
    color: var(--on-base);
}

.button.secondary:hover {
    background-color: var(--over-secondary);
}

.button.secondary:focus:active {
    background-color: var(--activate-secondary);
}

.button.wide {
    background-color: var(--wide);
    outline: 2px solid var(--border);
    text-align: left;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
}

.button.wide:hover {
    background-color: var(--over-wide);
}

.button.wide:focus:active {
    background-color: var(--active-wide);
}



/* overrides */
.profile {
    width: 150%;
    max-width: inherit;
}

.socials {
    width: 100%;
}

.pfp {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.project-banner > img {
    min-width: 150px;
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(0 0 5px rgb(151, 220, 90));
}

.end {
    margin-bottom: 30px;
    margin-top: 100px;
}

@media (max-width: 800px) {
    .items-row.responsive {
        flex-direction: column;
    }

    .items-row.responsive > *:not(:last-child, .skip) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .items-row.responsive > *.double:not(:last-child, .skip) {
        margin-bottom: 20px;
    }

    .items-row.responsive > *.half:not(:last-child, .skip) {
        margin-bottom: 5px;
    }



    .items-row.responsive.reverse {
        flex-direction: column-reverse;
    }

    .items-row.responsive.reverse > *:not(:last-child, .skip) {
        margin-right: 0;
        margin-bottom: 0;
    }

    .items-row.responsive.reverse > *.double:not(:last-child, .skip) {
        margin-bottom: 0;
    }

    .items-row.responsive.reverse > *.half:not(:last-child, .skip) {
        margin-bottom: 0;
    }

    .items-row.responsive.reverse > *:not(:first-child, .skip) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .items-row.responsive.reverse > *.double:not(:first-child, .skip) {
        margin-bottom: 20px;
    }

    .items-row.responsive.reverse > *.half:not(:first-child, .skip) {
        margin-bottom: 10px;
    }
    
    .xcenter-responsive {
        justify-self: center;
        justify-items: center;
    }
}